<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Care Plant</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/favcare.png" rel="icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/style1.css" rel="stylesheet" />
  </head>

  <body>
    <!--  Header  -->
    <header id="header" class="fixed-top d-flex align-items-center" style="background-color: #387301">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light">
            <a href="{{ url_for('index') }}"><img src="static/img/favcare.png" alt="" class="img-fluid" /></a>
            <a href="{{ url_for('index') }}" style="color: #f6f7d4"><span>Care Plant</span></a>
          </h1>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" style="color: #f6f7d4" href="{{ url_for('index') }}">Beranda</a></li>
            <li><a class="nav-link scrollto" href="#detect">Deteksi</a></li>
            <li><a class="nav-link scrollto" href="#artikel">Artikel</a></li>
            <li><a class="nav-link scrollto" href="#team">Tentang Kami</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!-- End Header -->
    <section class="card">
      <h1 class="pt-6 mt-5 text-center">Cara memilih Tomat yang Segar</h1>
      <div class="m-3" style="text-align: center">
        <img src="https://images.unsplash.com/photo-1607305387299-a3d9611cd469?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="tomat" width="300" class="hero-img" />
      </div>
      <div class="card-body">
        <div class="m-5 text-justify">
          <p>
            Halo Sobat CarePlant! Selamat datang di artikel pertama website kami. Hari ini mimin mau bahas gimana caranya untuk milih buah tomat yang segar. Tomat salah satu buah yang terkenal karena punya rasa segar dan gurih juga kaya
            nutrisi, namun jika tidak dipilih dengan baik bisa saja tomat yang anda beli memiliki rasa yang tidak segar. Tomat bisa dijadikan berbagai hidangan, mulai dari lalapan, jus, sampai saus. Untuk itu kita harus memilih tomat yang
            segar untuk menghasilkan olahan yang berkualitas. Nah, sekarang kita akan beri tips untuk memilih buah tomat yang segar!
          </p>
          <p>1. Amati warnanya Ciri-ciri tomat bagus yakni yang memiliki bercak kuning atau hijau pada kulitnya. Warna ini merupakan indikator bahwa tomat baru dipetik atau matang dari pohonnya.</p>
          <p>
            2. Cek tampilan kulitnya Jika anda ingin menyimpan tomat untuk stok, sebaiknya pilih tomat yang kulitnya mulus dan halus. Jangan memilih tomat yang kulitnya memar, bernoda, dan keriput. Karena hal tersebut menandakan bahwa tomat
            sudah layu atau hampir busuk. Selain itu amati pula batang yang menempel pada tomat. Umumnya, tomat segar memiliki batang yang berwarna hijau cerah dan sulit diambil. Sementara, pada tomat yang mulai layu, batang tersebut
            berubah menjadi kecoklatan, kering, dan mudah dipetik.
          </p>
          <p>
            3. Tekan permukaannya Salah satu cara memilih tomat segar yakni dengan menekan permukaannya. Tomat segar yang masih bagus akan terasa kencang saat ditekan, tidak lembek atau memar. Untuk mendapatkan tomat segar terbaik, ambil
            beberapa buah tomat lalu bandingan satu sama lain.
          </p>
          <p>
            4. Cium aromanya Coba cium aroma tomat untuk mengetahui kualitasnya. Tomat segar memiliki aroma yang segar seperti perpaduan buah, bunga, dan rumput. Sementara, tomat yang mulai busuk akan mengeluarkan bau asam yang menyengat.
          </p>
          <p>5. Usahakan pilih tomat yang masih bertangkai.</p>
          <p>
            Referensi :
            <br />
            1.https://unsplash.com/photos/red-tomato-on-gray-concrete-surface-OlXUUQedQyM 2. https://www.idntimes.com/food/dining-guide/trisno-maulana/tips-memilih-tomat-segar-c1c2?page=all
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
