<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Care Plant</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/favcare.png" rel="icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/style1.css" rel="stylesheet" />
  </head>

  <body>
    <!--  Header  -->
    <header id="header" class="fixed-top d-flex align-items-center" style="background-color: #387301">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light">
            <a href="{{ url_for('index') }}"><img src="static/img/favcare.png" alt="" class="img-fluid" /></a>
            <a href="{{ url_for('index') }}" style="color: #f6f7d4"><span>Care Plant</span></a>
          </h1>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" style="color: #f6f7d4" href="{{ url_for('index') }}">Beranda</a></li>
            <li><a class="nav-link scrollto" href="#detect">Deteksi</a></li>
            <li><a class="nav-link scrollto" href="#artikel">Artikel</a></li>
            <li><a class="nav-link scrollto" href="#team">Tentang Kami</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!-- End Header -->
    <section class="card">
      <h1 class="pt-6 mt-5 text-center">Masa Panen Tanaman Tomat</h1>
      <div class="m-3"style="text-align: center">
        <img src="https://images.unsplash.com/photo-1565698228480-eec300c9679b?q=80&w=1412&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="tomat" width="300" class="hero-img" />
      </div>
      <div class="card-body">
          <div class="m-5 text-justify ">
<p>
            Tanaman tomat (Solanum lycopersicum) merupakan salah satu tanaman hortikultura yang populer dan banyak dibudidayakan di berbagai belahan dunia. Dari mulai menanam benih hingga fase pertumbuhan, salah satu momen paling ditunggu adalah masa panen. Masa panen tanaman tomat bukan hanya menjadi puncak keberhasilan bercocok tanam, tetapi juga saat di mana petani atau penghobi kebun dapat menikmati hasil jerih payah mereka. Berikut adalah panduan singkat mengenai masa panen tanaman tomat.
            <br/>
            <br/>
            1. Menentukan Waktu Panen yang Tepat:
            Masa panen tomat dapat bervariasi tergantung pada jenis dan varietas tanaman. Umumnya, tomat biasanya dapat dipanen antara 60-85 hari setelah tanam benih. Pertanda tomat siap panen adalah ketika buah sudah mencapai ukuran maksimal dan warnanya mencapai kematangan yang diinginkan. Waktu terbaik untuk memanen tomat yaitu pada saat pagi dan sore hari.
            <br/>
            2. Perhatikan Tanda-tanda Kematangan:
            Tomat yang matang memiliki beberapa ciri khas. Warnanya yang cerah dan merata, serta teksturnya yang kenyal adalah indikator kematangan. Selain itu, batang tomat yang menghubungkan buah dengan tanaman dapat menjadi petunjuk; jika sudah mudah diputus tanpa memerlukan usaha besar, tomat kemungkinan besar sudah matang.
            <br/>
            3. Pemanenan Bertahap:
            Tomat sering kali tidak semuanya matang secara bersamaan. Oleh karena itu, sebaiknya dilakukan pemanenan secara bertahap. Buah yang sudah matang dapat dipetik, sementara yang masih muda dibiarkan untuk mencapai kematangan penuh.
            <br/>
            4. Menggunakan Alat yang Tepat:
            Pemilihan alat panen yang tepat dapat membantu mengurangi risiko kerusakan pada tanaman dan buah. Gunakan gunting taman atau pisau tajam untuk memotong batang tanaman dengan hati-hati. Hindari merobek buah dari tanaman karena ini dapat merusak buah yang masih muda.
            <br/>
            5. Penanganan Pasca Panen:
            Setelah dipanen, tomat perlu ditangani dengan hati-hati untuk menjaga kualitasnya. Simpan tomat di tempat yang sejuk dan kering, hindari tempat yang terlalu lembap. Jangan menyimpan tomat di lemari es kecuali jika sudah matang sepenuhnya, karena suhu dingin dapat merusak rasa dan tekstur.
            <br/>
            <br/>
            Masa panen tanaman tomat adalah momen yang dinanti-nanti oleh para petani dan penghobi kebun. Dengan memperhatikan tanda-tanda kematangan, melakukan pemanenan bertahap, dan menangani buah dengan hati-hati setelah panen, kita dapat menikmati hasil yang optimal dari budidaya tomat. Selamat menikmati panen tomat Anda!</p>
    </div>
      </div>
      </div>
    </section>
  </body>
</html>
