<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Care Plant</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/favcare.png" rel="icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/style1.css" rel="stylesheet" />
  </head>

  <body>
    <!--  Header  -->
    <header id="header" class="fixed-top d-flex align-items-center" style="background-color: #387301">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light">
            <a href="{{ url_for('index') }}"><img src="static/img/favcare.png" alt="" class="img-fluid" /></a>
            <a href="{{ url_for('index') }}" style="color: #f6f7d4"><span>Care Plant</span></a>
          </h1>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" style="color: #f6f7d4" href="{{ url_for('index') }}">Beranda</a></li>
            <li><a class="nav-link scrollto" href="#detect">Deteksi</a></li>
            <li><a class="nav-link scrollto" href="#artikel">Artikel</a></li>
            <li><a class="nav-link scrollto" href="#team">Tentang Kami</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!-- End Header -->
    <section class="card">
      <h1 class="pt-6 mt-5 text-center">Potensi Produksi dan Ekonomi Buah Tomat di Indonesia</h1>
      <div class="m-3" style="text-align: center">
        <img src="https://images.unsplash.com/photo-1582284540020-8acbe03f4924?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dG9tYXRvfGVufDB8fDB8fHww" alt="tomat" width="300" class="hero-img" />
      </div>
      <div class="card-body">
        <div class="m-5 text-justify">
          <p>
            Halo Sobat CarePlant! Selamat datang di artikel pertama website kami. Hari ini mimin mau spill gimana sih potensi buah tomat di Indonesia. Pasti udah tau dong kalo tanaman tomat jadi salah satu buah yang terkenal karena punya
            rasa segar dan gurih juga kaya nutrisi. Selain itu, tomat juga bisa jadi berbagai hidangan, mulai dari lalapan, jus, sampai saus. Nah, sekarang, gimana ya potensi produksi dan ekonomi buah tomat di Indonesia?
          </p>
          <p>
            Sobat CarePlant tau ngga apa aja daerah penghasil tomat terbesar di Indonesia? Mimin sebutin 3 besarnya ya. Pertama Jawa Barat. Daerah ini menempati peringkat pertama penghasil tomat terbesar di Indonesia loh. Kualitas tomat
            Indonesia yang dihasilkan Jawa Barat mencapai 267.407 ton. Kedua, Sumatera Utara. Salah satu wilayah di Sumatera Utara yang menghasilkan tomat berjumlah besar adalah Karo. Berdasarkan data terbaru, jumlah produksi tomat di
            Sumatera Utara mencapai 182.460 ton. Ketiga, Sumatera Barat. Kabupaten Solok menjadi daerah ekspor tomat yang menyumbang produksi tomat besar di Sumatera Barat sebesar 120.416 ton.
          </p>
          <p>
            Badan Pusat Statistik (BPS) bilang, produksi tomat di Indonesia mencapai 1,12 juta ton pada tahun 2022. Jumlah ini lebih banyak 0.21% dibanding tahun sebelumnya sebanyak 1.11 juta ton loh Sobat CarePlant. Dari sini terlihat ya
            kalau Indonesia punya potensi besar untuk meningkatkan produksi tomat. Ditambah lagi kondisi iklim dan tanah kita cocok nih untuk budidaya tomat. Permintaan tomat di Indonesia juga terus meningkat seiring pertumbuhan penduduk
            dan pola konsumsi masyarakat. Wah, semoga tanaman tomat bisa terus terjaga dan berkembang untuk membantu perekonomian bangsa kita ya, Sobat CarePlant! Oh ya, jangan lupa gunakan fitur deteksi di website CarePlant dan baca
            artikel lainnya ya supaya bisa bantu tanaman tomatmu tumbuh subur dan segar.
          </p>

          <p>
            Referensi : <br />
            1. Sadya, S. (2023). Produksi Tomat Indonesia Capai 1.12 juta ton pada 2022. Dilansir pada link
            https://dataindonesia.id/agribisnis-kehutanan/detail/produksi-tomat-indonesia-capai-112-juta-ton-pada-2022#:~:text=Badan%20Pusat%20Statistik%20(BPS)%20mencatat,sebanyak%201%2C11%20juta%20ton <br />2. Fitri, T. (2016). Analisis
            Daya Saing Ekspor Tomat Indonesia Dalam Menghadapi Masyarakat Ekonomi Asean (Mea) (Doctoral dissertation, Universitas Brawijaya). <br />3. Arifati, W. (2023). Deretan Provinsi Penghasil Tomat Terbanyak di Indonesia, Jatim
            Masuk!. Dilansir pada link https://news.solopos.com/deretan-provinsi-penghasil-tomat-terbanyak-di-indonesia-jatim-masuk-1699662 <br />
            4. Wasonowati, C. (2010). Peningkatan produksi dan kualitas tomat (Lycopersicon esculentum) dengan sistem budi daya hidroponik. Rekayasa, 3(2), 83-89. <br />5. Saputry, D. H., Daryanto, A., Istiqlal, M. R. A., & Widiyanto, S.
            (2022). Potensi Hasil dan Penampilan Hortikultura Tomat Generasi F6 di Dataran Rendah. Jurnal Hortikultura Indonesia, 13(1), 14-22.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
