<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Care Plant</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/favcare.png" rel="icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/style1.css" rel="stylesheet" />
  </head>

  <body>
    <!--  Header  -->
    <header id="header" class="fixed-top d-flex align-items-center" style="background-color: #387301">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light">
            <a href="{{ url_for('index') }}"><img src="static/img/favcare.png" alt="" class="img-fluid" /></a>
            <a href="{{ url_for('index') }}" style="color: #f6f7d4"><span>Care Plant</span></a>
          </h1>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" style="color: #f6f7d4" href="{{ url_for('index') }}">Beranda</a></li>
            <li><a class="nav-link scrollto" href="#detect">Deteksi</a></li>
            <li><a class="nav-link scrollto" href="#artikel">Artikel</a></li>
            <li><a class="nav-link scrollto" href="#team">Tentang Kami</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!-- End Header -->
    <section class="card">
      <h1 class="pt-6 mt-5 text-center">Menanam Tomat dengan 9 Langkah Mudah, Kamu juga Bisa!</h1>
      <div class="m-3"style="text-align: center">
        <img src="static/img/tomdet.jpg" alt="tomat" width="300" class="hero-img" />
      </div>
      <div class="card-body">
          <div class="m-5 text-justify ">
      <p>
        Halo Sobat Care Plant! Pasti udah ngga asing dong ya sama tomat. Biasanya, buah yang satu ini sering menemani makanan di piring kita, hehe. Ngga heran sih, ternyata memang tomat mengandung berbagai vitamin dan senyawa anti penyakit,
        lho! Misalnya likopen, lemak dan kalori dalam tingkat rendah, sumber serat dan protein yang baik, serta bebas kolesterol. Selain itu, tomat juga kaya akan sumber vitamin, misalnya A, C, beta-karoten, antioksidan, dan kalium. 
        <br/>Wah,
        saking bermanfaatnya tomat, masa iya kita ngga mau menanam sendiri juga? Gimana ya caranya? Ikutin langkah-langkah berikut!
      </p>
      <br />
      Cara Menanam Tomat:
      <br/>
      1. Sebar Bibit dan Beri Jarak Supaya bibit bisa tumbuh jangan letakkan terlalu dekat ya, Sobat Care Plant!. Cukup letakkan 3-5 benih tomat di dalam tray semai yang sudah diberi tanah, jangan memendam benih terlalu dalam. <br />
      2. Beri Banyak Cahaya Bibit tomat butuh cahaya langsung yang kuat, kalau tidak bisa memberikan cahaya matahari langsung kita bisa menggunakan beberapa jenis pencahayaan tanaman buatan selama 14 sampai 18 jam setiap hari. <br />3.
      Pastiin Tomat Kita Terkena Angin, Ya! Tanaman tomat perlu bergerak dan bergoyang tertiup angin untuk mengembangkan batang yang kuat. Ini terjadi secara alami kalau di luar ruangan. <br />4. Panaskan Dulu Media Tanahnya Tomat ngga akan
      benar-benar mulai tumbuh sampai suhu tanah dan udara tetap hangat, untuk mempercepat proses penanaman, kita bisa menutupi area penanaman dengan plastik hitam atau merah beberapa minggu sebelum menanam atau memindahkan bibit tomat.
      <br />5. Mengubur batangnya Tanam tanaman tomat lebih dalam sampai ke beberapa daun teratas, cara ini mampu menumbuhkan akar di sepanjang batangnya, dengan lebih banyak akar bisa menghasilkan tanaman yang kuat. <br />6. Mulsa atau
      Tutupi Tanah Jika menanam tanaman di dalam tanah biarkan tanah tertutupi mulsa sampai menghangat Mulsa bisa menghemat air dan mencegah penyakit yang ditularkan melalui tanah dan tanah dari percikan ke tanaman. <br />7. Dengan memotong
      daun bagian bawah Setelah tanaman tomat mencapai tinggi sekitar 1 meter, buang daun dari kaki bagian bawah batang. Ini adalah daun tertua, dan biasanya akan menjadi daun pertama yang mengalami masalah jamur. Terlebih, saat tanaman
      berfotosintesis, daun bagian bawah mendapatkan sinar matahari dan aliran udara paling sedikit. <br />8. Menjepit dan memangkas Jepit dan buang daun yang ada di sendi diantara dari dua cabang tanaman. Bagian ini tidak akan menghasilkan
      buah dan akan mengambil energi dari sisa tanaman. Selain itu, kamu juga bisa memangkas beberapa daun agar matahari dapat mencapai buah yang matang. <br />9. Siram Secara Teratur Siram dengan dalam dan teratur saat buah sedang
      berkembang. Penyiraman yang ngga teratur bisa menyebabkan pembusukan ujung bunga (kekurangan kalsium) dan pecah-pecah.
      <p>
        Gimana? Mudah kan? Mimin CarePlant udah spill nih cara kamu bisa menanam tomat dari rumah aja! Yuk langsung dipraktekkan dan nikmatin hasil panen tomatmu dari rumah. Sampai ketemu lagi di artikel berikutnya ya Sobat CarePlant!
        <br />
        <br />
        
      </p>
      <p>
        Referensi :
        <br/>
        1. Kementerian Kesehatan. (2022). Ternyata Buah Tomat Kaya Manfaat. Dilansir pada link https://yankes.kemkes.go.id/view_artikel/775/ternyata-buah-tomat-kaya-manfaat <br />2. Sitoresmi, A. R. (2021). Cara Menanam Tomat yang Mudah di
        Rumah, Bisa di Tanah dan di Pot atau Polybag. Dilansir pada link https://www.liputan6.com/hot/read/4611373/cara-menanam-tomat-yang-mudah-di-rumah-bisa-di-tanah-dan-di-pot-atau-polybag?page=2 <br />3. Halodoc. (2023). 11 Manfaat
        Tomat untuk Kesehatan Jika Dimakan Setiap Hari. Dilansir pada link https://www.halodoc.com/artikel/11-manfaat-tomat-untuk-kesehatan-jika-dimakan-setiap-hari <br />4. Dinas Kesehatan DIY. (2016). Tomat Buah Sehat Kaya Manfaat.
        Dilansir pada link https://dinkes.jogjaprov.go.id/berita/detail/tomat-buah-sehat-kaya-manfaat-tomat-buah-sehat-kaya-manfaat <br />5. Ki, M. (2023). Tomat: Kandungan dan Manfaat Tomat. Dilansir pada link
        https://umsu.ac.id/berita/tomat-kandungan-dan-manfaat-tomat/
      </p>
    </div>
      </div>
      </div>
    </section>
  </body>
</html>
